<%= render 'structures/nav' %>

<% @articles.each do |article| %>
    <div id="articles-area">
      <div class="avanta">
        <img class="author-avanta media-object" src="/assets/q-zuozhu.png" alt="媒体对象">
      </div>
      <div class="data">
        <h3 class="data-title">
          <%= article.title %>
        </h3>
        <div>
          <div class="data-content">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <%= article.text %>
          </div>
        </div>
        <div class="data-urd">
            <%= link_to '详情', article_path(article) %>
            <%= link_to '编辑', edit_article_path(article) %>
            <%= link_to '删除', article_path(article),
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
      <br>
      <br>
    </div>
<% end %>

<%= render 'structures/footer' %>
