<%= render 'structures/nav' %>

<div id="articles-wrapper">
  <div class="show-article">
    <div class="article">
      <div class="user-avanta"></div>
      <div class="media-body">
        <h4 class="article-title media-heading">
          <%= @article.title %>
        </h4>
        <%= @article.text %>
      </div>
    </div>


    <h2 class="to-comment">我要评论</h2>
    <%= render 'comments/comment-box' %>


    <%= render @article.comments %>


    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>

    <%= render 'structures/footer' %>
  </div>
</div>
