<div id="articles-wrapper">
  <div class="articles container">
    <div class="media">
      <a class="media-left" href="#">
        <img class="author-avanta media-object" src="/assets/q-zuozhu.jpg" alt="媒体对象">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= @article.title %>
        </h4>
        <%= @article.text %>
      </div>
    </div>


    <%= render @article.comments %>


    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>


    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
  </div>
</div>
</div>
